body {
  scroll-behavior: smooth;
  overflow-y: scroll;   /* ← THIS IS THE MAGIC LINE */
}

.hero-section {
  min-height: 70vh;
  background: url('hero.jpg') center / cover no-repeat;
}

.btn-primary2 {
  background-color: #100355 !important;
  color: white !important;
}
.card-img-top{
  height: 173.5px;
  object-fit: cover;
}
.img2 {
  max-width: 135% !important;
  height: 681px !important;
}
